.intro-container{
    width: 100vw;
    background: url('/1st_female_lifer.jpg') no-repeat center;
    background-size: cover;
    height: 100vh;
    display: flex;
}
.intro-container .intro-inner-container{
    padding: 220px 25px 0;
    background: linear-gradient(to right,rgba(0,0,0,0.8),rgba(0,0,0,0.6),rgba(0,0,0,0.4),rgba(0,0,0,0.2),rgba(0,0,0,0));
    backdrop-filter: blur(1.5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro-inner-container h2{
    text-transform: uppercase;
}
.intro-inner-container p{
    text-transform: uppercase;
}
.intro-inner-container button{
    text-transform: uppercase;
}
.intro-inner-container h2{
    font-size: 78px;
    letter-spacing: 5px;
    word-spacing: 2px;
}
.intro-inner-container p{
    font-size: 20px;
    font-weight: 700;
    padding-top: 20px;
    letter-spacing: 2px;
    word-spacing: 2px;
}
.intro-inner-container .intro-btn{
    margin-top: 20px;
}
.intro-btn button{
    background-color: transparent;
    border: 1px solid red;
    font-size: 18px;
    font-weight: 700;
    padding: 12px 25px;
    border-radius: 3px;
}
.intro-btn button:hover{
    cursor: pointer;
}
.intro-btn button:first-child{
    background-color: transparent;
    border: 1px solid red;
    color: white;
    margin-right:25px;
}
.intro-btn button:last-child{
    background-color: red;
    border: 1px solid red;
    color: black;
}