nav{
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px 5px;
    z-index: 2;
}
nav ul{
    display: flex;
}
nav ul li{
    margin: 0 10px;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1.5px;
}