.quote {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 60px 20px;
    width: 100%;
    margin: 0;
}

.quote h3 {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8rem;
    font-family: var(--font-serif);
    color: #000;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.4;
}

@media (max-width: 780px) {
    .quote h3 {
        font-size: 1.4rem;
    }
}

@media (max-width: 430px) {
    .quote h3 {
        font-size: 1.1rem;
    }
}